body {
    font-family: 'Tomorrow', sans-serif;
    background-color: #f0f8ff;
}

.nav {
    background-color: #ffcc00;
    padding: 7px;
    color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.nav a {
    float: right;
    display: block;
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

#sunflower {
    float: left;
}

.nav a:hover {
    background: #f0f8ff;
    color: #ffcc00;
    padding: auto;
}

.nav-item {
    position: relative;
    top: 7px;
}

.active {
    color: #813124;
}

.button {
    background-color: #ffcc00;
    padding: 7px;
    border: none;
    display: inline-block;
    border-radius: 4px;
    color: white;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.button a {
    display: block;
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
    background: #ffcc00;
    opacity: 70%;
    text-align: center;
    color: white;
}